/** @format */
@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/ProductSans-Bold.ttf');
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: rgb(0, 0, 0);
	font-family: 'Poppins', sans-serif;
}

.DeathStar {
	position: absolute;
	left: 20px;
	width: 30px;
	height: 30px;
}

h1 {
	font-family: 'Product Sans';
	margin-top: -25%;
	user-select: none;
	font-size: 60px;
	text-align: center;
	text-shadow: 0 0 50px rgb(255, 255, 255);
	opacity: 0%;
	transition: 3s;
	color: rgb(255, 255, 255);
	padding-bottom: 25px;
}

#Main {
	margin-top: 25%;
	height: 550px;
}

#bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#main {
	transition-duration: 1s;
}

.text {
	user-select: none;
	text-align: center;
	color: rgb(0, 0, 0);
	margin-top: 22px;
	font-weight: 900;
	font-size: 11px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.textOpen {
	user-select: none;
	text-align: center;
	color: rgb(0, 0, 0);
	font-weight: 900;
	font-size: 14px;
	letter-spacing: 1.5px;
}

.Bigtext {
	text-align: center;
	color: rgb(77, 77, 77);
	font-size: 18px;
	font-weight: 700;
}

.containerOnline {
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: #ffffff;
	border-radius: 15px;
	transition-timing-function: ease-in;
	margin-left: 30px;
	box-shadow: 0 0 20px rgba(255, 255, 255, 1);
	transition-delay: 0.3;
	transition: 1s;
	transform: rotate(360deg);
	bottom: 50px;
	animation-name: OPENContainer;
	animation-duration: 1s;
}

.containerOffline {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: #949494;
	border-radius: 25px;
	margin-left: 30px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 1) inset;
	transition-delay: 0.3;
	transition: 1s;
	margin-top: 30px;
	animation-name: OPENContainer;
	animation-duration: 1s;
}

.containerOpen {
	position: absolute;
	display: inline-block;
	top: 35%;
	left: 0;
	margin-left: 15%;
	animation-name: OPENContainer;
	animation-duration: 0.5s;
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(255, 255, 255, 1);
	height: 450px;
	width: 70%;
	z-index: 2;
}

@keyframes OPENContainer {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
@keyframes CLOSEContainer {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}

.containerOpenText {
	text-align: center;
}
.containerOpenText p {
	display: inline-block;
	padding-left: 40px;
}
.CrossImage {
	display: inline-block;
	position: absolute;
	height: 15px;
	width: 15px;
	right: 15px;
	top: 13px;
	opacity: 0.7;
	transition: 0.4s;
}
.CrossImage:hover {
	height: 16px;
	width: 16px;
	opacity: 0.9;
}

.Chart {
	margin-left: 2%;
	width: 96%;
}

.containerOpenOffline {
	position: relative;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 15px;
	transition-timing-function: ease-in;
	margin-left: 30px;
	box-shadow: 0 0 20px rgba(255, 255, 255, 1);
	transition-duration: 2s;
	transition-delay: 0.5;
	margin-top: 30px;
	transition: 0.6s;
	bottom: 115px;
	margin-bottom: -70px;
}

.containerOnline:hover {
	width: 100px;
	height: 170px;
	transition: width 0.2s, height 0.3s;
	transition-timing-function: ease-out;
	transition-delay: 0.15s;
	transition: 0.5s;
}
.containerOffline:hover {
	width: 100px;
	height: 170px;
	transition: width 0.2s, height 0.3s;
	transition-timing-function: ease-out;
	transition-delay: 0.15s;
	transition: 0.5s;
}

.container {
	justify-content: center;
	justify-items: center;
}

#data {
	font-size: 0;
	opacity: 0;
	transition-duration: 0.4s;
}

.SWIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1px;
	opacity: 0%;
	z-index: 2;
	transform: translate(-50%, -50%);
}

.swLogo {
	width: 100%;
	height: 100%;
}

#DeathStar {
	position: absolute;
	top: 100px;
	left: 20px;
	opacity: 0%;
	transition: 2s;
}

p {
	color: #ffe81f;
	text-align: center;
}

#scroller {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	height: 50em;
	width: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10em;
	z-index: 0;
	transform: perspective(350px) rotateX(25deg);
	transform-origin: 50% 100%;
}

#scroller::after {
	position: absolute;
	content: '';
	bottom: 60%;
	left: 0;
	right: 0;
	top: 0;
	background: linear-gradient(black, transparent);
}

#content {
	position: absolute;
	top: 100%;
}

#title,
#subtitle {
	text-align: center;
	line-height: 1.5rem;
}

#subtitle {
	text-transform: uppercase;
	font-size: 4.5rem;
}
#contentText {
	line-height: 2;
	font-size: 3.5rem;
}

@keyframes scroller {
	0% {
		top: 100%;
	}
	100% {
		top: -200%;
	}
}

@keyframes logo {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(2);
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}
}
