body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: rgb(0, 0, 0);
	font-family: 'Poppins', sans-serif;
}


h1 {
	position: absolute;
	left: 50%;
	bottom: 75%;
	margin-left: -2em;
	user-select: none;
	color: #FFF;
	font-size: 70px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 40px;
	text-shadow: 0 0 10px rgba(255, 255, 255, .8);
}

#bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#main {
	transition-duration: 1s;
}

.text {
	text-align: center;
	color: rgb(0, 0, 0);
	margin-top: 22px;
	font-weight: 900;
	font-size: 11px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.Bigtext {
	text-align: center;
	color: rgb(77, 77, 77);
	font-size: 18px;
	font-weight: 700;
}

.containerOnline {
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: #ffffff;
	border-radius: 15px;
	transition-timing-function: ease-in;
	margin-left: 30px;
	box-shadow: 0 0 20px rgba(255, 255, 255, 1);
	transition-duration: 0.3s;
	transition-delay: 0.5;
	margin-top: 30px;
	transition: 0.6s;
	transform: rotate(360deg);
	bottom: 50px;
	
}

.containerOffline {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: #949494;
	border-radius: 25px;
	margin-left: 30px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 1) inset;
	transition-duration: 0.3s;
	transition-delay: 0.5;
	margin-top: 30px;
	
}

.containerOpen {
	position: relative;
	display: inline-block;
	width: 350px;
	height: 270px;
	background-color: #ffffff;
	border-radius: 15px;
	transition-timing-function: ease-in;
	margin-left: 30px;
	box-shadow: 0 0 20px rgba(255, 255, 255, 1);
	transition-duration: 0.3s;
	transition-delay: 0.5;
	margin-top: 30px;
	transition: 0.6s;
	bottom: 115px;
	margin-bottom: -70px;
}

.containerOpenOffline {
	position: relative;
	display: inline-block;
	width: 350px;
	height: 270px;
	background-color: #ffffff;
	border-radius: 15px;
	transition-timing-function: ease-in;
	margin-left: 30px;
	box-shadow: 0 0 20px rgba(255, 255, 255, 1);
	transition-duration: 0.3s;
	transition-delay: 0.5;
	margin-top: 30px;
	transition: 0.6s;
	bottom: 115px;
	margin-bottom: -70px;
}

.containerOnline:hover {
	width: 100px;
	height: 170px;
	transition: width 0.2s, height 0.3s;
	transition-timing-function:ease-out;
	padding-top: 100;
	transition-delay: 0.15s;
	transition: 0.5s;

}

.container {
	justify-content: center;
	justify-items: center;
}


#data {
	font-size: 0;
	opacity: 0;
	transition-duration: 0.4s;
}

.SWIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1px;
	opacity: 0%;
	z-index: 2;
	transform: translate(-50%, -50%)

}

#DeathStar {
	position: absolute;
	top: 100px;
	left: 20px;
	opacity: 0%;
	transition: 2s;
}

p {
	color: #FFe81F;
	text-align: center;
}

#scroller {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	height: 50em;
	width: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10em;
	z-index: 0;
	transform: perspective(350px) rotateX(25deg);
	transform-origin: 50% 100%;
	
	
}

#scroller::after {position: absolute; 
	content: ''; 
	bottom: 60%; 
	left: 0; 
	right: 0; 
	top: 0;
	background: linear-gradient(black,transparent);
}

#content {
	position: absolute;
	top: 100%;
}

#title, #subtitle {
	text-align: center;
	line-height: 1.5rem
}

#subtitle {
	text-transform: uppercase;

	font-size: 4.5rem;
}
#contentText {
	line-height: 2;
	font-size: 3.5rem;
}

@keyframes scroller {
	0% {
		top: 100%;
	}
	100%{
		top: -200%;
	}
	
}


@keyframes logo {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(2)
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1)
	} 
}